<div class="wrapper">
  <div class="welcome">
    <div class="rant-title">
      <h1>Rantly</h1>
    </div>
    <div class="tagline">
      <h3>Let it all out</h3>
    </div>
  </div>
  <div class="bottom-container">
    <% if flash[:message] %>
    <div class="flash-reg">
      <p><%= flash[:message] %></p>
    </div>
    <% end %>
    <div class="quotes">
      <div class="jeff-thumb">
        <%= image_tag 'jeff.jpg' %>
      </div>
      <div class="index-quote">
        <p>Dyson Sphere is a hypothetical megastructure that completely encompasses a star and hence captures most or all
          of its power output. It was first described by Freeman Dyson. Dyson speculated that such structures would be the
          logical consequence of the long-term survival and escalating energy needs of a technological civilization, and
          proposed that searching for evidence of the existence of such structures might lead to the detection of advanced
          intelligent extraterrestrial life. Different types of Dyson spheres correlate with information on the Kardashev
          scale.
        </p>
        <br/>
        <p>| Jeff Taggart, avid Ranter</p>
      </div>
    </div>
  </div>
</div>