<div class="wrapper">
  <h1>Rantly</h1>
  <h3>Let it all out</h3>
  <div class="quotes">
    <%= image_tag 'jeff.jpg' %>
    <p>blah blah blah I'm jeff super great awesomesauce woohooooooo</p>
    <p>Jeff Taggart</p>
  </div>
</div>