<div class="wrapper">
  <div class="rant-title">
    <h1>Rantly</h1>
  </div>
  <div class="tagline">
    <h3>Let it all out</h3>
  </div>
  <div class="bottom-container">
    <% if flash[:notice] %>
    <div class="flash-reg">
      <p><%= flash[:notice] %></p>
    </div>
    <% end %>
    <div class="quotes">
      <div class="main-thumb">
        <%= image_tag 'https://pbs.twimg.com/profile_images/512825412460630017/jCCUVTKt_400x400.jpeg' %>
      </div>
      <div class="index-quote">
        <a href="https://github.com/lukemccomb/rantly/">Rantly</a>
        is a graduation project for the g3 class of the gSchool Denver
        Full Stack Development Immersive course. The goal of the project was
        to produce a Twitter-like platform where users can share 'Rants' that have to be
        at least 140 characters instead of that number being the limit, as in
        the case of Tweets. The app is built using Ruby on Rails, JavaScript, jQuery, AJAX, SCSS,
        HTML5, ERB, PostgreSQL, Cloudinary's API and Keen.io's API. I would like to thank my instructors
        <a href="https://twitter.com/psylinse">Jeff</a>, <a href="https://twitter.com/hgillane">Hunter</a>,
        <a href="https://twitter.com/bobbywilson0">Bobby</a> and <a href="https://twitter.com/zbunde">Zach</a>
        for all of their help, patience and wisdom throughout gSchool.
        <br/>
        <p><a href="https://twitter.com/lukemccomb">Luke McComb</a> - Lead Developer</p>
      </div>
    </div>
  </div>
</div>