<div class="wrapper">
  <div class="welcome">
    <div class="rant-title">
      <h1>Rantly</h1>
    </div>
    <div class="tagline">
      <h3>Let it all out</h3>
    </div>
  </div>
  <div class="quotes">
    <div class="jeff-thumb">
      <%= image_tag 'jeff.jpg' %>
    </div>
    <div class="index-quote">
      <p>blah blah blah I'm jeff super great awesomesauce woohooooooo</p>
      <br/>
      <p>| Jeff Taggart, avid Ranter</p>
    </div>
  </div>
</div>