<!DOCTYPE html>
<html>
<head>
  <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
</head>
<body>
<h1><%= @user.username %> has just posted a new rant!</h1>
<p>
  Check it out here: <%= @url %>.
</p>
<p>
  Thanks,
    Rantly
</p>
</body>
</html>