<div class="dash-wrap">
  <div class="admin-dash">
    <h1>Dashboard</h1>
    <h3>Keen.io charts</h3>
    <div id="chart-wrapper">
      <div id="logins-chart"></div>
      <div id="signups-chart"></div>
      <div id="rants-chart"></div>
    </div>
  </div>
</div>