<div class="search">
  <%= form_for(:search, url: search_path, method: :get) do |form| %>
    <%= form.text_field :term, placeholder: "Enter a search term" %>
    <%= form.submit "Search", class: 'search-button', id: 'search-button' %>
  <% end %>
</div>