<div class="dash-wrap">
  <%= render partial: "layouts/rant_console" %>
  <div class="rant-feed">
    <h1>Search</h1>
    <hr/>
    <br/>
    <%= render partial: "searches/search" %>
    <br/>
    <h2>Rant Results</h2>
    <%= render @search.rants %>
    <% @search.users.each do |user| %>
      <%= render user.rants %>
    <% end %>
  </div>
</div>
