<div class="dash-wrap">
  <%= render partial: "layouts/rant_console" %>
  <div class="rant-feed">
      <h1>Latest Rants</h1>
      <hr/>
      <%= render @rants %>
    <br/>
      <h1>My Rants</h1>
      <hr/>
      <%= render @user_rants %>
  </div>
</div>
