/*
 *
 *= require_tree .
 *= require_self
 */
.clearfix:before,
.clearfix:after { content: " "; display: table; }

.clearfix:after { clear: both; }

/* ----- =columns ----- */

.one_half { width:460px; }
.one_third {	 width:300px; }
.two_third {	 width:620px; }
.one_fourth {	 width:220px; }
.three_fourth { width:700px; }
.full_column {	 width: 100%; }

html {
  height: 100%;
}

body {
    font-family: Helvetica;
    height: 100%;
}

.wrapper {
    margin: 0 auto;
    box-sizing: border-box;
    text-align: center;
    position: relative;

&:after {
     visibility: hidden;
     display: block;
     font-size: 0;
     content: " ";
     clear: both;
     height: 0;
 }

.welcome {
    width: 100%;
    position: relative;

.rant-title {
    position: fixed;
    top: 10%;
    text-align: center;
    display: inline-block;
}

h1 {
  font-size: 500%;
}

.tagline {
    padding-top: 2%;
    font-size: 120%;
    text-align: center;
    display: inline-block;
  position: fixed;
  top: 20%;
}
}

.quotes {
  background-color: dimgrey;
  width: 100%;
  position: absolute;
  bottom: 0;
  padding: 5%;
  color: white;
  height: 55%;

  .jeff-thumb {
    float: left;
    margin: 0 .1% 0 1%;
    height: 100%;
    width: 30%;
  }

  .index-quote {
    text-align: left;
    height: 100%;
    width: 100%;
  }

  img {
    width: 45%;
  }
}


}

header {
  background-color: #333333;
  width: 100%;
  height: 10%;
  position: fixed;
  z-index: 1;
}

.main_h1 {
  font-size: 150%;
  text-decoration: none;
  display: inline;
}

.main_h1_box {
  height: 9%;
  border-right: 1px solid lawngreen;
  width: auto;
  display: inline-block;
  padding-top: 2.5%;
  padding-right: 2.5%;
  padding-bottom: 2.5%;
  padding-left: 2.5%;
}

.main_h1:visited {
  color: white;
}

.login_link {
  color: white;
  font-size: 110%;
  margin-top: 15px;
  display: inline-block;
}

.login_link:visited {
  color: white;
}

.register_link {
  color: white;
  text-decoration: none;
  font-size: 130%;
}

.login_reg {
    float: right;
    width: 250px;
    padding-bottom: 10px;
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 10px;
    display: inline;
}

.join_box {
    width: 140px;
    background-color: green;
    border: 1px solid gray;
    border-radius: 2px;
    padding-top: 10px;
    padding-left: 10px;
    padding-right: 10px;
    padding-bottom: 10px;
    float: right;
    text-align: center;
}

.reg-page {
  background-color: gray;
  height: 100%;
  position: relative;
  h1 {
    font-size: 150%;
  }
}

.reg-window {
  width: 50%;
  position: absolute;
  top: 15%;
  left: 25%;
  background-color: white;
  height: auto;


.username, .password, .first-n, .last-n {
  width: 49%;
  display: inline-block;
  margin-top: 2%;

  input {
    width: 80%;
  }
}
}

.bio-field {
  width: 89%;
  margin-top: 2%;

  textarea {
    width: 100%;
    height: 20em;
  }
}

.reg-wrap {
  padding-top: 3%;
  padding-left: 9.5%;
  width: auto;
  margin: 0 auto;
}

.daily, .weekly, .monthly {
  display: inline-block;
  width: 32.5%;
  padding-top: 3%;
}

.reg-button {
  width: 100%;
  border-top: 1px solid black;
  margin-top: 3%;
  text-align: center;

  input {
    width: 80%;
    margin-top: 5%;
    margin-bottom: 5%;
    background-color: #227000;
    border-radius: 5px;
    color: white;
    font-size: 120%;
  }
}

p {
  width: 80%;
}

.flash-reg {
  margin: 0 auto 0 auto;
  width: auto;
  background-color: green;
  color: white;
  padding: 1%;
  text-decoration: none;
  font-size: 130%;
  p {
    text-align: center;
    display: inline;
  }
}

.bottom-container {
  width: 100%;
  position: fixed;
  bottom: 0;
  height: 55%;
}

.login-wrap {
  padding-top: 3%;
  width: 100%;
  margin: 0 auto;
  text-align: left;
  .username, .password {
    width: 110%;
  }
}

.login-window {
  width: 50%;
  position: absolute;
  top: 15%;
  left: 25%;
  background-color: white;
  min-height: 210px;
  height: 35%;

  form {
    height: 100%;
    width: 100%;
    display: inline-block;
    .username, .password, h1 {
      width: 49%;
      display: inline-block;
      margin-top: 2%;
      padding-left: 5%;
      input {
        width: 180%;
      }
    }
    .login-button {
      width: 100%;
      border-top: 1px solid black;
      margin-top: 3%;
      text-align: center;

      input {
        width: 90%;
        margin-top: 2%;
        margin-top-min: 10px;
        margin-bottom: 5%;
        background-color: #227000;
        border-radius: 5px;
        color: white;
        font-size: 120%;
      }
    }
  }
}

.login-page {
  background-color: gray;
  height: 100%;
  position: relative;
  h1 {
    font-size: 150%;
  }
}

.dash-wrap {
  position: absolute;
  height: 100%;
  h1 {
    text-align: center;
    font-size: 400%;
  }
}

.logout {
  float: right;
  width: 250px;
  padding-bottom: 10px;
  padding-left: 10px;
  padding-right: 10px;
  padding-top: 10px;
  display: inline;
}

.logout-box {
  width: 140px;
  background-color: green;
  border: 1px solid gray;
  border-radius: 2px;
  padding-top: 10px;
  padding-left: 10px;
  padding-right: 10px;
  padding-bottom: 10px;
  float: right;
  text-align: center;
}

.logout-link {
  color: white;
  text-decoration: none;
  font-size: 130%;
}

.new-rant-wrap {
  width: 20%;
  position: fixed;
  left: 0;
  top: 10%;
  height: 100%;
  background-color: grey;
  padding: 1%;
  color: white;
  display: inline-block;

  h3 {
    text-align: justify;
    width: 100%;
  }

  img {
    width: 50%;
    display: inline-block;
  }

  .thumbnail {
    width: auto;
    display: inline-block;
    margin: 0 auto;
    padding-left: 25%;
  }
}

.rant-form {
  text-align: left;
  height: 100%;

  input {
    width: 90%;
  }

  textarea {
    width: 90%;
    height: 300px;
  }
}

.user-rants {
  text-align: center;
  width: 100%;
  margin: 35% 0 0 100%;
  h1 {
    text-align: center;
  }
}

.delete {
  float: right;
}

.main-nav {
  color: #3e900e;
  position: fixed;
  width: 100%;
  height: 10%;
  top: 5%;
  text-align: center;
  a {
    text-decoration: none;
    color: #58cb15;
    font-size: 120%;
    :visited {
      color: green;
    }
  }
}

.errors {
  background-color: lightgreen;
  text-align: center;
  color: black;
  margin: 0 auto;
  border-radius: 3px;
  width: 35%;
}