.dash-wrap {
  position: absolute;
  top: 15%;
  left: 0;
  width: 100%;
  display: inline-block;
  padding-bottom: 2%;
  .user-show {
    text-align: center;
    text-decoration: none;
  }
}

#signups-chart, #logins-chart, #rants-chart {
  width: 30%;
  display: inline-block;
}

.spam-mail {
  text-align: left;
  display: inline-block;
  border: 1px solid black;
  width: auto;
  margin-right: 15%;
  text-decoration: none;
  padding: .35%;
}

.date-sort {
  margin-top: 2%;
  margin-left: 4%;
  display: inline-block;
}