.new-rant-wrap {
  width: 25%;
  position: fixed;
  left: 0;
  top: 0;
  max-height: 100%;
  min-height: 100%;
  background-color: grey;
  padding: 0% 1% 5% 1%;
  color: white;
  z-index: 0;
  overflow: scroll;
  .thumbnail {
    width: 100%;
    margin-top: 45%;
    text-align: center;
    img {
      width: 40%;
    }
    a:hover {
      color: chartreuse;
    }
  }
}

.rant-form {
  height: 100%;
  text-align: center;
  line-height: 150%;
  #rant_title {
    width: 90%;
  }
  textarea {
    width: 90%;
    height: 30vh;
    border: 1px solid gray;
    border-radius: 3px;
    font-size: 110%;
  }
  input {
    border: 1px solid gray;
    border-radius: 3px;
    font-size: 120%;
  }
  .rant-button {
    background-color: green;
    color: white;
    font-size: 115%;
    width: 92%;
    margin-right: 1.8%;
    border: 1px solid whitesmoke;
    border-radius: 3px;
    &:hover {
      background-color: #272728;
      color: #7cf40e;
      border: 1px solid #7cf40e;
    }
  }
  .errors {
    color: red;
    background-color: white;
  }
}

.rant-feed {
  text-align: center;
  width: 69%;
  position: fixed;
  padding-right: 2%;
  padding-left: 2%;
  overflow: scroll;
  display: block;
  top: 15%;
  right: 0;
  max-height: 85.5%;
  h1 {
    text-align: center;
    font-size: 350%;
    a {
      text-decoration: none;
      color: black;
    }
  }
  h2 {
    text-align: left;
    font-size: 180%;
  }
  hr {
    border: 1px solid black;
  }
  h3 {
    a {
      text-decoration: none;
      color: #0022d1;
    }
  }
  .follow {
    background-color: white;
    color: #00ae08;
    font-size: 90%;
    border: 1px solid gray;
    border-radius: 3px;
    &:hover {
      background-color: #58cb15;
      color: #0028ff;
      border: 1px solid #7cf40e;
    }
  }
  .unfollow {
    background-color: white;
    color: #0022d1;
    font-size: 90%;
    border: 1px solid gray;
    border-radius: 3px;
    &:hover {
      background-color: #0028ff;
      color: #7cf40e;
      border: 1px solid #7cf40e;
    }
  }
}

.delete {
  float: right;
}

.rant {
  display: block;
  margin-top: 2%;
  margin-bottom: 2%;
  margin-left: 3%;
  margin-right: 3%;
  hr {
    border: .1em dashed #272728;
    display: block;
    margin-top: 3%;
  }
  a {
    text-decoration: none;
    color: black;
    :visited {
      color: black;
    }
  }
  .hashtag-link {
    color: blue;
  }
}

.rant a p {
    text-decoration: none;
    width: 65%;
    color: black;
    font-weight: lighter;
    text-align: left;
    padding: 0% 0 1% 0;
    margin-bottom: 4%;
    display: inline-block;
    position: relative;
    &:visited {
      color: black;
    }
  padding-bottom: 5%;
}

.rant-body {
  text-decoration: none;
  width: 80%;
  margin: 0 auto;
  color: black;
  font-weight: lighter;
  text-align: left;
  padding: 1% 0 1% 0;
  display: block;
  &:visited {
    color: black;
  }

  a {
    text-decoration: none;
  }
}

.hashtag-link {
  color: #0022d1;
  text-decoration: none;
}

.comments {
  width: 80%;
  text-align: center;
  margin: 0 auto;
  textarea {
    width: 99%;
    font-size: 110%;
    border-radius: 3px;
  }
  .rant-button {
    background-color: green;
    color: white;
    font-size: 95%;
    width: 25%;
    float: right;
    border: 1px solid gray;
    border-radius: 3px;
    &:hover {
      background-color: #58cb15;
      color: #0028ff;
      border: 1px solid #7cf40e;
    }
  }
  hr {
    width: 100%;
  }
}

.favorite-wrap {
  text-align: right;
  display: block;
  width: 15%;
  float: right;
//  margin-top: 11.5%;
  .favorite {
    background-color: forestgreen;
    color: white;
    font-size: 90%;
    border: 1px solid gray;
    border-radius: 3px;
    &:hover {
      background-color: #58cb15;
      color: #0028ff;
      border: 1px solid #7cf40e;
    }
  }
  #favorite-show {
    display: inline-block;
  }
//  #favorite-hide {
//    display: none;
//  }
  .unfavorite {
    background-color: #001aa5;
    color: white;
    font-size: 90%;
    border: 1px solid gray;
    border-radius: 3px;
    &:hover {
      background-color: #0028ff;
      color: #7cf40e;
      border: 1px solid #7cf40e;
    }
  }
//  #unfavorite-show {
//    display: inline-block;
//  }
  #unfavorite-hide {
    display: none;
  }
}

.spam-tweet {
  text-align: right;
  display: block;
  width: 15%;
  float: left;
}

.spam-btn {
  background-color: red;
  border: 1px solid;
  border-radius: 5px;
  color: whitesmoke;
  cursor: pointer;
  &:hover {
    background-color: black;
    border: 1px solid red;
  }
}

.delete-btn {
  background-color: black;
  border-radius: 5px;
  color: rgb(255, 255, 255);
  border: 1px solid red;
  cursor: pointer;
  &:hover {
    background-color: red;
    border: 1px solid black;
  }
}