.new-rant-wrap {
  width: 25%;
  position: fixed;
  left: 0;
  top: 0;
  max-height: 100%;
  min-height: 100%;
  background-color: grey;
  padding: 0% 1% 5% 1%;
  color: white;
  z-index: 0;
  overflow: scroll;
  .thumbnail {
    width: 100%;
    margin-top: 45%;
    text-align: center;
    img {
      width: 50%;
    }
    a:hover {
      color: chartreuse;
    }
  }
}

.rant-form {
  height: 100%;
  text-align: center;
  line-height: 150%;
  input {
    width: 90%;
  }
  textarea {
    width: 90%;
    height: 30vh;
  }
}

.delete {
  float: right;
}

.rant {
  margin-top: 2%;
  margin-bottom: 2%;
  margin-left: 10%;
  margin-right: 10%;
  hr {
    border: .1em dashed #272728;
  }
  a {
    text-decoration: none;
    color: black;
    :visited {
      color: black;
    }
  }
  .hashtag-link {
    color: blue;
  }
}

.rant-body {
    text-decoration: none;
    margin: 0 auto;
    color: black;
    :visited {
      color: black;
    }
    .hashtag-link {
      color: blue;
    }
}

.comments {
  width: 80%;
  text-align: center;
  margin: 0 auto;
  textarea {
    width: 70%;
  }
}