// Place all the styles related to the registration controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.reg-page {
  background-color: gray;
  height: 100%;
  position: relative;
  display: block;
  padding-bottom: 10%;
  h1 {
    font-size: 150%;
  }
}

.reg-window {
  width: 50%;
  position: absolute;
  top: 16%;
  left: 25%;
  background-color: white;
  max-height: 98%;
  .username, .password, .first-n, .last-n {
    width: 49%;
    display: inline-block;
    margin-top: 2%;

    input {
      width: 80%;
    }
  }
 .email {
   width: 100%;
   display: inline-block;
   margin-top: 2%;

   input {
     width: 39%;
   }
 }
}

.bio-field {
  width: 89%;
  margin-top: 2%;

  textarea {
    width: 100%;
    height: 5em;
  }
}

.reg-wrap {
  padding-top: 1%;
  padding-left: 9.5%;
  width: auto;
  margin: 0 auto;
}

.daily, .weekly, .monthly {
  display: inline-block;
  width: 32.5%;
}

.reg-button {
  width: 100%;
  border-top: 1px solid black;
  margin-top: 3%;
  text-align: center;

  input {
    width: 80%;
    margin-top: 2%;
    margin-bottom: 2%;
    background-color: #227000;
    border-radius: 5px;
    color: white;
    font-size: 120%;
  }
}

.flash-reg {
  margin: 0 auto 0 auto;
  width: auto;
  background-color: green;
  color: white;
  padding: 1%;
  text-decoration: none;
  font-size: 130%;
  p {
    text-align: center;
    display: inline;
  }
}