// Place all the styles related to the users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

//Log In



.login-window {
  width: 50%;
  position: absolute;
  top: 25%;
  left: 25%;
  background-color: white;
  min-height: 225px;
  height: auto;
  form {
    width: 100%;
    display: inline-block;
    .username, .password, h1 {
      width: 49%;
      display: inline-block;
      margin-top: 2%;
      padding-left: 5%;
      input {
        width: 180%;
      }
    }
    .login-button {
      width: 100%;
      border-top: 1px solid black;
      margin-top: 2%;
      margin-bottom: 3%;
      padding-top: 3%;
      text-align: center;
      max-height: 30px;
      input {
        width: 90%;
        background-color: #227000;
        border-radius: 5px;
        color: white;
        font-size: 120%;
      }
    }
  }
  .errors {
    width: 100%;
    text-align: center;
    display: inline-block;
  }
}

.login-page {
  background-color: gray;
  height: 100%;
  position: relative;
  h1 {
    font-size: 150%;
  }
}

.ranter-name {
  text-align: center;
  a {
  text-decoration: none;
  color: white;
  }
}

.user-table {
  border: 1px solid gray;
  border-collapse: collapse;
  text-align: left;
  padding: 2px;
  width: 30%;
  margin: 2% auto;
  th {
    border-right: 1px solid gray;
    padding: 5%;
    font-weight: bold;
    font-size: 110%;
  }
  tr {
    border: 1px solid gray;
    padding: 5%;
  }
  tr:nth-child(even) {background: #CCC}
  tr:nth-child(odd) {background: #FFF}
  td {
    border: 1px solid gray;
    padding: 5%;
  }
}

.admin-dash {
  text-align: center;
  width: 100%;
  position: fixed;
  padding-right: 2%;
  padding-left: 2%;
  overflow: scroll;
  display: block;
  top: 15%;
  right: 0;
  max-height: 85.5%;
  h1 {
    text-align: center;
    font-size: 350%;
    a {
      text-decoration: none;
      color: black;
    }
  }
  h2 {
    text-align: center;
    font-size: 200%;
  }
  hr {
    border: 1px solid black;
  }
  h3 {
    a {
      text-decoration: none;
      color: #0022d1;
    }
  }
  .follow {
    background-color: white;
    color: #00ae08;
    font-size: 90%;
    border: 1px solid gray;
    border-radius: 3px;
    &:hover {
      background-color: #58cb15;
      color: #0028ff;
      border: 1px solid #7cf40e;
    }
  }
  .unfollow {
    background-color: white;
    color: #0022d1;
    font-size: 90%;
    border: 1px solid gray;
    border-radius: 3px;
    &:hover {
      background-color: #0028ff;
      color: #7cf40e;
      border: 1px solid #7cf40e;
    }
  }
}

.thumb {
  width: 90%;
  float: left;
  padding: 5%;
}

.user-image {
  width: 25%;
}

.image-upload {
  width: 100%;
  height: 100%;
  padding: 5%;
}