.rant-title {
  position: fixed;
  top: 15%;
  text-align: center;
  display: inline-block;
  width: 100%;
  left: 0;
}

h1 {
  font-size: 500%;
}

.tagline {
  padding-top: 2%;
  font-size: 120%;
  display: inline-block;
  position: fixed;
  left: 0;
  top: 27.5%;
  width: 100%;
}


.quotes {
  background-color: dimgrey;
  width: 100%;
  position: absolute;
  bottom: 0;
  padding: 5%;
  color: white;
  height: 55%;

  .jeff-thumb {
    float: left;
    margin: 0 .1% 0 1%;
    height: 100%;
    width: 30%;
    display: block;
  }

  .index-quote {
    text-align: left;
    height: 100%;
    width: 100%;
    p {
    display: block;
    }
  }
  img {
    width: 45%;
  }
}

.bottom-container {
  width: 100%;
  position: fixed;
  bottom: 0;
  height: 55%;
}