.rant-title {
  position: fixed;
  top: 15%;
  text-align: center;
  display: inline-block;
  width: 100%;
  left: 0;
}

h1 {
  font-size: 500%;
}

.tagline {
  padding-top: 2%;
  font-size: 120%;
  display: inline-block;
  position: fixed;
  left: 0;
  top: 27.5%;
  width: 100%;
}


.quotes {
  background-color: dimgrey;
  width: 100%;
  position: fixed;
  bottom: 0;
  padding: 5%;
  color: white;
  height: 35%;
  z-index: -1;
  overflow: scroll;
  .main-thumb {
    float: left;
    margin: 0 .1% 10% 1%;
    height: 50%;
    width: 30%;
    display: block;
  }

  .index-quote {
    text-align: left;
    width: 80%;
    display: block;
    font-weight: 100;
    font-size: 95%;
    line-height: 1.5;
    a {
      text-decoration: none;
      color: #7cf40e;
    }
    p {
      font-size: 90%;
      padding-top: 2.5%;
    }
  }
  img {
    width: 55%;
    min-width: 115px;
    border-radius: 10px;
  }
}

.bottom-container {
  width: 100%;
  position: fixed;
  bottom: 0;
  height: 55%;
}