<div class="dash-wrap">
  <%= render partial: "layouts/rant_console" %>
  <div class="rant-feed">
    <h1>Following</h1>
    <hr/>
    <% @current_user.followed_users.each do |user| %>
      <h2><%= user.first_name %></h2><br/>
      <% if following_user(user.id) %>
        <%= dash_unfollow_button(user) %>
      <% else %>
        <%= dash_follow_button(user) %>
      <% end %>
    <% end %>
  </div>
</div>
