<div class="dash-wrap">
  <%= render partial: "layouts/rant_console" %>
  <div class="rant-feed">
    <h1>Following</h1>
    <hr/>
    <% @current_user.followed_users.each do |user| %>
      <div class="user-image">
        <%= image_tag(user.image_url, :class => 'thumb') %>
        <h2><%= user.first_name %></h2><br/>
        <%= follow_page_unfollow_button(user) %>
      </div>
    <% end %>
  </div>
</div>
